@use "./devices";

@mixin flex-box($direction: row, $justify: center, $align: center, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin phone {
  @media only screen and (max-width: devices.$xs) {
    @content
  }
}
@mixin tablet-portrait {
  @media only screen and (min-width: devices.$xs + 1) and (max-width: devices.$sm) {
    @content
  }
}
@mixin tablet-landscape {
  @media only screen and (min-width: devices.$sm + 1) and (max-width: devices.$md) {
    @content
  }
}
@mixin laptop {
  @media only screen and (min-width: devices.$md + 1) and (max-width: devices.$lg) {
    @content
  }
}
@mixin desktop {
  @media only screen and (min-width: devices.$lg + 1) and (max-width: devices.$xl) {
    @content
  }
}
@mixin desktop-lrg {
  @media only screen and (min-width: devices.$xl + 1) {
    @content
  }
}