/* SCSS HEX */
$midnight-green-eagle-green: #0e3b43ff;
$myrtle-green: #357266ff;
$antique-ruby: #8b2635ff;
$alabaster: #e0e2dbff;
$timberwolf: #d2d4c8ff;

/* SCSS HSL */
$midnight-green-eagle-green: hsla(189, 65%, 16%, 1);
$myrtle-green: hsla(168, 37%, 33%, 1);
$antique-ruby: hsla(351, 57%, 35%, 1);
$alabaster: hsla(77, 11%, 87%, 1);
$timberwolf: hsla(70, 12%, 81%, 1);

/* SCSS RGB */
$midnight-green-eagle-green: rgba(14, 59, 67, 1);
$myrtle-green: rgba(53, 114, 102, 1);
$antique-ruby: rgba(139, 38, 53, 1);
$alabaster: rgba(224, 226, 219, 1);
$timberwolf: rgba(210, 212, 200, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0e3b43ff, #357266ff, #8b2635ff, #e0e2dbff, #d2d4c8ff);
$gradient-right: linear-gradient(90deg, #0e3b43ff, #357266ff, #8b2635ff, #e0e2dbff, #d2d4c8ff);
$gradient-bottom: linear-gradient(180deg, #0e3b43ff, #357266ff, #8b2635ff, #e0e2dbff, #d2d4c8ff);
$gradient-left: linear-gradient(270deg, #0e3b43ff, #357266ff, #8b2635ff, #e0e2dbff, #d2d4c8ff);
$gradient-top-right: linear-gradient(45deg, #0e3b43ff, #357266ff, #8b2635ff, #e0e2dbff, #d2d4c8ff);
$gradient-bottom-right: linear-gradient(135deg, #0e3b43ff, #357266ff, #8b2635ff, #e0e2dbff, #d2d4c8ff);
$gradient-top-left: linear-gradient(225deg, #0e3b43ff, #357266ff, #8b2635ff, #e0e2dbff, #d2d4c8ff);
$gradient-bottom-left: linear-gradient(315deg, #0e3b43ff, #357266ff, #8b2635ff, #e0e2dbff, #d2d4c8ff);
$gradient-radial: radial-gradient(#0e3b43ff, #357266ff, #8b2635ff, #e0e2dbff, #d2d4c8ff);