/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
/*Resets and defaults */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* Else */
body {
  background-image: url("imgs/side.png");
  background-color: #FFF;
  color: rgb(53, 114, 102);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  min-width: 400px;
}

.nav {
  box-shadow: 0 0 15px rgb(14, 59, 67);
  background-color: rgb(14, 59, 67);
  width: 100vw;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }
}
.nav__li {
  list-style-type: none;
  margin: 10px;
}
.nav__li a {
  color: #FFF;
  padding: 10px;
}
.nav__li a:hover {
  background-color: #AAA;
}

section {
  min-height: 100vh;
  min-width: 100vw;
}
section h2 {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 5vh;
}
section h2::after {
  background-color: rgb(139, 38, 53);
  display: block;
  content: "";
  height: 2vh;
  margin: -1.7vh -5vw 0 5vw;
  opacity: 20%;
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  section h2::after {
    margin: -1.7vh -2vw 0 2vw;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  section h2::after {
    margin: -1.7vh -2vw 0 2vw;
  }
}
section p {
  font-size: 20px;
  margin-bottom: 2vh;
}
section.landing {
  z-index: -1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: end;
}
section.landing h1 {
  color: rgb(139, 38, 53);
  font-weight: 100;
  font-size: 50px;
  margin-right: 10vw;
  margin-bottom: -40px;
  z-index: 2;
}
section.landing h1 .name {
  font-size: 100px;
  font-family: "Alex Brush", cursive;
}
section.landing h2 {
  color: #FFF;
  background-color: rgb(14, 59, 67);
  text-transform: none;
  font-size: 20px;
  margin-right: 10vw;
  margin-bottom: 0;
  padding: 20px;
}
section.landing h2::after {
  display: none;
}
section.landing p {
  margin-right: 10vw;
}
section.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  section.about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  section.about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  section.about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
@media only screen and (min-width: 1441px) {
  section.about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
section.about h2 {
  margin-right: 30vw;
  margin-left: 30vw;
}
@media only screen and (max-width: 600px) {
  section.about h2 {
    margin-left: 0;
    margin-right: 0;
  }
}
section.about img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgb(53, 114, 102);
  margin: 0 10vh;
  width: 350px;
}
@media only screen and (max-width: 600px) {
  section.about img {
    width: 300px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  section.about img {
    width: 200px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  section.about img {
    width: 250px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  section.about img {
    width: 350px;
  }
}
section.about p {
  padding: 5vw;
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  section.about p {
    max-width: 40vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  section.about p {
    max-width: 40vw;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  section.about p {
    max-width: 40vw;
  }
}
@media only screen and (min-width: 1441px) {
  section.about p {
    max-width: 40vw;
  }
}
section.skills {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
section.skills ul {
  font-size: 20px;
  list-style-type: none;
}
@media only screen and (max-width: 600px) {
  section.skills ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
  }
}
section.skills ul li {
  margin: 2vh;
  font-weight: bolder;
}
section.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
section .projects__items {
  padding: 5px;
  width: 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  section .projects__items {
    width: 350px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  section .projects__items {
    width: 350px;
  }
}
@media only screen and (min-width: 1441px) {
  section .projects__items {
    width: 400px;
  }
}
section .projects__items--first {
  text-align: center;
  margin: 0 30vw;
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  section .projects__items--first {
    margin: 0 40vw;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  section .projects__items--first {
    width: 100vw;
  }
}
@media only screen and (min-width: 1441px) {
  section .projects__items--first {
    width: 100vw;
  }
}
section .projects__items--first h2 {
  width: auto;
}
section .projects__items img {
  width: 200px;
  border-radius: 25% 0;
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  section .projects__items img {
    width: 300px;
  }
}
section.contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
section.contact ul {
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media only screen and (max-width: 600px) {
  section.contact ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}
section.contact ul li {
  margin: 2vh;
}
section.contact ul li a {
  padding: 15px;
  color: rgb(139, 38, 53);
}
